body {
    position: relative;
    background-color: #e1cfff;
}

#main {
    border-radius: 50px;
    background-color: rgb(144, 119, 255);
    color: rgb(9, 0, 92);
    border: none;

    position: absolute;
    height: 100px;
    width: 100px;
}

#maincontent {
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}